spring:
    cache:
      jcache:
        provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
      cache-names:
        - buckets
        - filterConfigCache
      caffeine:
          spec: maximumSize=1000000,expireAfterAccess=3600s
    application.name: TelegramAuth
    datasource:
        url: jdbc:h2:file:./db/data;AUTO_SERVER=TRUE
        driverClassName: org.h2.Driver
        username: sa
        password: password
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        generate-ddl: true

bucket4j:
    enabled: true
    filter-config-caching-enabled: true
    filter-config-cache-name: filterConfigCache
    filters:
        - id: session-filter
          cache-name: buckets
          url: /session.*
          rate-limits:
            - cache-key: getRemoteAddr()
              bandwidths:
                - capacity: 3
                  time: 1
                  unit: minutes

bot:
    token: ${token}

server.port: ${app-port:8080}
server.error.include-message: always