on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Build Java
        run: mvn clean package -DskipTests

      - name: Create Image
        run: docker build -t dedegor/oauth0 .

      - name: Push DockerHub
        run: docker push
