on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
    
      - name: Build Java
        run: mvn clean package -DskipTests

      - name: Create Image
        run: docker build -t dedegor/oauth0 .

      - name: Push DockerHub
        run: docker push dedegor/oauth0:latest
